[ req ]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn 
[ dn ]
CN = desa1
O = desarrollo
[ v2_ext ]
authorityKeyIdentifier=keyid,issuer:always
basictConstraints=CA:FALSE 
keyUsage=keyEncipherment,dataEncipherment
extendedKeyUsage=serverAuth,clientAuth